.App-logo {
  
  height: calc(1 + .1vmax);
  pointer-events: none;
  margin-top: 1.45em;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title {
  font-size: calc(30px +  5vh);
}

.App-header {
  background-color: #282c34;
  flex-direction: inherit;
  align-items: flex;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.title {
  margin-top: 1.5em;
  margin: 1em;
  display: flex;
  align-items: flex;
  flex-direction: inherit;
}

.headerItems {
  margin-top: 1.5em;
  margin-left: 1em;
  display: flex;
  align-items: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
