/* Updated the original CSS to be suitable for my Under Construction Page */

.App-logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
  margin-top: 1.25em;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  display: flex;
  align-items: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

/* Centers theLaxerz in the DIV */
.title {
  margin-left: .25em;
  flex: inherit;
  align-content: space-between;
  -ms-flex-item-align: auto;
  font-family: "Roboto"; 
  font-size: 60px; 
  font-style: normal; 
  font-variant: small-caps; 
  font-weight: 700; 
  line-height: 20px;
  vertical-align: middle; 
}

p { 
    margin: 0 !important;
    text-align: right;
  }

.block2
{
  /* font-size: calc(12px +  5vh);  formula for manipulating Text Size based on Screen */ 
  font-family: Roboto;
  font-size: calc(3.15vh);
  justify-self: right;
  justify-items: right;
  flex: auto;
  margin-top: 3em;
  margin-right: .5em;
  justify-content: center;
  justify-content: flex-end;
  align-items: right;
  align-content: center;
  text-align: right;
}


.App-header {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  flex-direction: inherit;
  align-content: inherit;
  color: white;
}

.title {
  margin-top: 1.5em;
  margin: 1em;
  display: flex;
  glyph-orientation-vertical: inherit;
  flex-direction: inherit;
  align-items: center;
}

.headerItems {
  margin-top: 1.5em;
  margin-left: 1em;
  display: flex;
  align-items: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
